.dailyJournal_h1{

    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font: bolder;

}


.dailyJournal{

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99); 
    align-items: center;
    justify-content: center;
}

    /* .dailyJournal{

        background: linear-gradient(359deg, #aa4b6b, #6b6b83, #3b8d99);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 41s ease infinite;
    animation: AnimationName 41s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:49% 0%}
        50%{background-position:52% 100%}
        100%{background-position:49% 0%}
    }
    @keyframes AnimationName { 
        0%{background-position:49% 0%}
        50%{background-position:52% 100%}
        100%{background-position:49% 0%}
    }

    } */




.dailyJournal--label_Date{
    
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    font: bold;

}

.dailyJournal_Date_Fieldset{

    display: flex;
    flex-wrap: wrap;
    width: 20%;
    border-radius: 12px;
    background: linear-gradient(to right,#3b8d99 , #6b6b83,#aa4b6b );
    align-items: center;
    justify-content: center;
    border-color: transparent;

}

.dailyJournal--label_Concept{
    
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    font: bold;

}

.dailyJournal_Concepts_Fieldset{

    display: flex;
    flex-wrap: wrap;
    width: 20%;
    border-radius: 12px;
    background: linear-gradient(to right, #3b8d99 , #6b6b83,#aa4b6b );
    align-items: center;
    justify-content: center;
    border-color: transparent;

}

.dailyJournal--label_JEntry{
    
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    font: bold;

}

.dailyJournal_JEntry_Fieldset{

    display: flex;
    flex-wrap: wrap;
    width: 20%;
    border-radius: 12px;
    background: linear-gradient(to right, #3b8d99 , #6b6b83,#aa4b6b );
    border-color: transparent;

}

.dailyJournal--label_Mood{
    
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    font: bold;

}

.dailyJournal_Mood_Fieldset{

    display: flex;
    flex-wrap: wrap;
    width: 20%;
    border-radius: 12px;
    background: linear-gradient(to right,#3b8d99 , #6b6b83,#aa4b6b );
    border-color: transparent;

}

.journalButton {
    display: inline-block;
    border-radius: 4px;
    background-color: darkred;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 150px;
    transition: all 1s;
    cursor: pointer;
    margin: 5px;
  }
  
  .journalButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
  }
  
  .journalButton:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 40px;
    transition: 1s;
  }
  
  .journalButton:hover  {
    padding-right: 40px;
  }
  
  .journalButton:hover:after {
    opacity: 5;
    right: 20px;
  }
   
  .entryLog {

    border-style: solid;
    border-color: white;
    border-width: 40%;
    width: 40%;
    border-radius: 12px;

  }

  p {

    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    font: bold;

  }

